html, body { 
	height: 100%;
	width: 100%;
	background-color: #E9EAEA;
	overflow-x:hidden;
	cursor: default;
	font-family: 'Voltaire', sans-serif;

}	

* {
    margin: 0;
}

.page-wrap {
  	min-height: 100%;
    margin-bottom: -100px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
    height: 100px; 
}

footer{
	background-color: #69DB0E;
	font-size: 20px; 
	font-family: 'Voltaire', sans-serif;
}

.footerinfo{
	background-color: #69DB0E;
	padding-top: 35px;
	padding-bottom: 15px;
}

.subscribe{
	padding-right: 15px;
}

.followus{
	padding-left: 50px;
}
.navimg{
	width: 400px;
	height: auto;
}

.navbar{
	background-color: white;
	height: 110px;
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
	font-size: 27px;
	color: black;
}

.nav-links{
	padding-top: 30px;
}

.form{
	padding-left: 70px;
	padding-right: 100px;
	padding-bottom: 20px;

}

.signup-form{
	margin-top: 100px;
	margin-left: 125px;
}

.form-btn{
	margin-left: 55px;
}

.signupimg{
	width: 180px;
	padding-top: 30px;
	margin-left: 150px;
	padding-bottom: 30px;
}

.signinimg{
	width: 180px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 50px;
}

.line2mission{
	margin-left: 40px;
}

.mission-col{
	background-color:#333333;
	font-size: 30px;
	padding-left: 50px;
	padding-top: 80px;
	height: 350px;
	color: white;
	font-family: 'Roboto Mono';
}

.copyright-image{
	width: 20px;
}


.gears{
	margin-top: 100px;
	margin-left: 100px;
	width: 600px;
}

.signup{
	background-color: #E9EAEA;
	height: 100%;
	margin-bottom: 100px;
}

.sign-up-text{
	font-family: 'Lobster';
	font-size: 50px;
	color: #800EDB;
}

.login-form{
	text-align: center;
}

.login-input{
	margin-bottom: 20px;
}

.footer-coding-kids{
	padding-right: 10px;
}

.alert{
	text-align: center;
	margin-bottom: 0px;
	font-size: 20px;
}

.titles{
	font-family: 'Lobster';
	font-size: 70px;
	text-align: center;
	color: #800EDB;
}

h3{
	font-size: 40px;
}

@media (min-width: 0px) and (max-width: 1080px){
    .footer-form { 
        display : none; 
        visibility : hidden; 
    }
}

.account-side{
	padding-top: 100px;
	font-size: 30px;
	text-align: left;
}

.lessons-div{
	text-align: center;
	margin-top: 50px;	
}

.lessons-btn{
	width: 200px;
	height: 75px;
}

.joke{
	text-align: center;
	margin-top: 150px;
}

.joke-quest{
	font-size: 35px;
	font-weight: bolder;
}

.joke-answer{
	font-size: 25px;
	margin-bottom: 200px;
}

.center {
	text-align: center;
}

.heads {
	display: none;
	position: absolute;
	left: 15%;
	padding-top: 100px;
}

.about{
	padding-left: 50px;
	padding-top: 50px;
	padding-right: 50px;
	font-size: 20px;
	text-align: center;
	font-family: 'Voltaire', sans-serif;
	line-height: 40px;
	background-color: #062345;
	height: 350px;
	color: white;
}

.whyck{
	font-size: 25px;
}

.comingsoon{
	width: 1000px;
	height: 100%;
	padding-top: 50px;
}

.heads{
	width: 200px;
}

.names{
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 70px;
	margin-top: 15px;
	font-family: 'Poppins';
}

.createdby{
	font-size: 40px;
	padding-top: 100px;
	padding-bottom: 20px;
	font-family: 'Poppins';
}

.line{
	height: 5px;
	background-color: black;
	margin-bottom: 50px;
}

.vide{
	z-index: 25;
	width: 100%;
	height: 500px;
	opacity: 0.5;
}

.progbar{
	padding-top: 75px;
}

.bottomprog{
	padding-bottom: 150px
}

.lesson-btn{
	margin-top: 20px;
	margin-bottom: 75px;
	width: 250px;
	height: 75px;
	font-size: 40px;
	border-radius: 20px
}

.dropdown-nav{
	font-size: 23px;
}

.aboutfounders{
	padding-bottom: 100px;
	font-size: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

.progress{
	height: 40px;
	border-radius: 20px;
}

.progress-bar{
	font-size: 25px;
	padding-top: 10px;
}

.alwaysfree{
	font-size: 25px;
}