body { 
	padding-bottom: 77px; 
	background-color: #E9EAEA;
}

.navimg{
	width: 400px;
	height: auto;
}

.navbar{
	background-color: white;
	height: 110px;
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
}

.nav-links{
	padding-top: 30px;
}

.form{
	padding-left: 70px;
	padding-right: 100px;
	padding-bottom: 20px;

}

.signup-form{
	margin-top: 100px;
	margin-left: 125px;
}

.form-btn{
	margin-left: 55px;
}

.video{
	width: 100%;
	height: 450px;
	background-color: blue;
}

.signupimg{
	width: 180px;
	padding-top: 30px;
	margin-left: 150px;
	padding-bottom: 30px;
}

.signinimg{
	width: 180px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 50px;
}

.line2mission{
	margin-left: 40px;
}

.mission-col{
	background-color: #9013FE;
	font-size: 30px;
	padding-left: 50px;
	padding-top: 50px;
	height: 240px;
	color: white;
	font-family: 'Roboto Mono';
}


.copyright-image{
	width: 20px;
}

.footer{
	background-color: #69DB0E;
	padding-top: 10px;
	font-family: 'Amatic SC';
	font-size: 25px; 
}

.footerinfo{
	background-color: #69DB0E;
	padding-top: 15px;
	padding-bottom: 15px;
}

.subscribe{
	padding-right: 15px;
}

.followus{
	padding-left: 50px;
}

.gears{
	margin-top: 100px;
	margin-left: 100px;
	width: 600px;
}

.signup{
	background-color: #E9EAEA;
	height: 100%;
}

.sign-up-text{
	font-family: 'Pacifico';
	font-size: 30px;
	color: #9013fe;
}

.login-form{
	text-align: center;
}

.login{
	padding-top: 90px;
	padding-bottom: 40px;
	text-align: center;
	font-family: 'Lobster';
	font-size: 80px;
	color:  #9013fe;
}

.login-input{
	margin-bottom: 20px;
}

.footer-coding-kids{
	padding-right: 10px;
}

.alert-danger{
	text-align: center;
}

.hello-account{
	font-family: 'Lobster';
	font-size: 70px;
	text-align: center;
	color: #9013fe;
}

h3{
	font-family: 'Amatic SC';
	font-size: 40px;
}

@media (min-width: 0px) and (max-width: 1080px){
    .footer-form { 
        display : none; 
        visibility : hidden; 
    }
}

.account-side{
	padding-top: 80px;
	font-size: 30px;
	font-family: 'Amatic SC';
}