body {
    background-color: #D9F5FF;
    height: 100%;
}

.container{
    padding-top: 20px;
}

textarea {
    resize: none;
    outline: none;
    height: 350px;
    width: 450px;
    background-color: black;
    color: #9efc7d;
}

.tryit {
    margin-top: 175px;
    background-color: #ce95c8;
}
    /* quiz modal */

.kid {
    margin-top: 155px;
}

#quiz {
    margin-left: 300px;
    width: 700px;
    height: auto;
}

.modal-footer h4 {
    font-family: 'Lobster';
}

.quizcontain {
    margin-left: -70px;
}

#view{
    height: 350px;
    width: 450px;
    border: inset;
    background-color: white;
    text-align: left;
}

.lessonbtn{
    padding-top: 15px;
    text-align: center;
}

.one {
    margin-top: -15px;
}

#editor, #view{
    border: none;
    border-radius: 10px;
}

    /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

    /* foreach / video */
.close {
    float: right;
}

.videoLesson {
    width: 200px;
    text-align: center;
    color: #337AB7;
}

.forvideo {
    margin-left: -50px;
}

    /* codingkids logo */
.lessonimg{
    width: 215px;
    height: 150px;
}

.lessonTitle{
    font-size: 25px;
    font-family: lobster;
}

.modal-footer{
    padding-right: 50px;
}

