body {
    background-color: #5abfc6;
    height: 100%;
}

.container{
    padding-top: 20px;
}

textarea {
    resize: none;
    outline: none;
    height: 350px;
    width: 450px;
    background-color: black;
    color: #9efc7d;
}

.tryme {
    margin-top: 175px;
    background-color: #ce95c8;
    color: #fff07a;
}

#view{
    height: 350px;
    width: 450px;
    border: inset;
    background-color: white;
}

.lessonbtn{
    padding-top: 40px;
}

#editor, #view{
    border: none;
    border-radius: 10px;
}

/*modal stuff*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    margin-top: 5%;
    width: 60%;
}


/* videoLesson */
.videoLesson {
    width: 200px;
    text-align: left;
}

/* editor/view/tryit-btn */
.editor {
    margin-left: -55px;
}
#editor {
    height: 400px;
    width: 635px;
}

.tryit {
    margin-left: 55px;
}

.view {
    margin-left: -45px;
}

#view {
    height: 400px;
    width: 610px;
}










