body {
    background-color: #5abfc6;
    height: 100%;
}

.container{
    padding-top: 20px;
}

textarea {
    resize: none;
    outline: none;
    height: 350px;
    width: 450px;
    background-color: black;
    color: #9efc7d;
}

.tryit {
    margin-top: 175px;
    background-color: #ce95c8;
}

#view{
    height: 350px;
    width: 450px;
    border: inset;
    background-color: white;
}

.lessonbtn{
    padding-top: 40px;
    text-align: center;
}

#editor, #view{
    border: none;
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* foreach videoLesson */
.videoLesson {
    width: 200px;
    text-align: center;
    color: #337AB7;
}

/* editor/view/tryit-btn */
.editor {
    margin-left: -55px;
}
#editor {
    height: 400px;
    width: 635px;
}

.tryit {
    text-align: center;
    color: #337AB7;
    margin-top: 0px;
    position: static;
}

.view {
    margin-left: -45px;
}

#view {
    height: 400px;
    width: 610px;
}

.lessonimg{
    width: 225px;
    height: 60px;
}